{% extends "inventory_templates/base_inventory.html" %}

{% block content %}
<h4>Список инвентаря</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Инвентарь</th>
            <th>Количество</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventory_items %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>
                <a href="/application/True/{{ loop.index }}" class="btn btn-warning btn-sm">Одобрить</a>
            </td>
            <td>
                <a href="/application/False/{{ loop.index }}" class="btn btn-warning btn-sm">Отклонить</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}