{% extends "auth_templates/base.html" %}

{% block content %}
<div class="container mt-4">
    <h3>Редактирование инвентаря</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="text-danger">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.quantity.label(class="form-label") }}
            {{ form.quantity(class="form-control") }}
            {% if form.quantity.errors %}
                <div class="text-danger">
                    {% for error in form.quantity.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.status.label(class="form-label") }}
            {{ form.status(class="form-select") }}
        </div>
        <button type="submit" class="btn btn-warning">Сохранить</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</button>
        <a href="{{ url_for('inventory_see') }}" class="btn btn-secondary">Назад</a>
    </form>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

{% endblock %}