{% extends "inventory_templates/base_inventory.html" %}

{% block content %}
<h3>Добавление в план закупок</h3>
<form method="post" class="mb-4" name="_add">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.supplier.label }}
        {{ form.supplier(class="form-control", placeholder="Введите название поставщика") }}
    </div>
    <div class="mb-3">
        {{ form.item_name.label }}
        {{ form.item_name(class="form-control", placeholder="Введите название инвентаря") }}
    </div>
    <div class="mb-3">
        {{ form.quantity.label }}
        {{ form.quantity(class="form-control", placeholder="Введите количество предметов") }}
    </div>
    <div class="mb-3">
        {{ form.price.label }}
        {{ form.price(class="form-control", placeholder="Введите планируемую цену за всю закупку", type="number", step="0.01") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
<br>
<h3>План</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Предполагаемый поставцик</th>
        <th>Название инвентаря</th>
        <th>Количество</th>
        <th>Цена закупки</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if data %}
    {% for item in data %}
    <tr>
        <td>{{ item[4] }}</td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}</td>
        <td>
                <form method="POST" style="display: inline;">
                    <input type="hidden" name="_method" value="{{ loop.index }}">
                    <button type="submit" class="btn btn-warning">Удалить</button>
                </form>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4" class="text-center">Нет плана закупок</td>
    </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}